// SPACINGS

$spacing-xxs: 8px;
$spacing-xs: 12px;
$spacing-s: 16px;
$spacing-m: 24px;
$spacing-l: 32px;
$spacing-xl: 64px;
$spacing-xxl: 80px;

// COLOURS

$black: #000;
$white: #fff;

$gray-10: #E5E5E5;
$gray-20: #CCCCCC;
$gray-30: #B2B2B2;
$gray-40: #999999;
$gray-50: #808080;
$gray-60: #666666;
$gray-70: #4D4D4D;
$gray-80: #333333;
$gray-90: #1A1A1A;

$emerald-10: #7FF5C6;
$emerald-20: #60DBB2;
$emerald-30: #46C2A1;
$emerald-40: #2FA88C;
$emerald-50: #1D8F78;
$emerald-text: $emerald-50;

$peach-10: #FFB78F;
$peach-20: #E59F77;
$peach-30: #CC8862;
$peach-40: #B2734F;
$peach-text: $peach-40;




