.content {
    margin: 0 $spacing-s;

    @include respond(desktop) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.section-text {
    max-width: 580px;
    margin-top: $spacing-m;
    @include respond(desktop) {
        margin-top: $spacing-xl;
    }
}

.section-heading {
    margin-top: $spacing-xl;
    @include respond(desktop) {
        text-align: center;
        margin-top: $spacing-xxl;
    }
}

.section-title {
    margin-top: $spacing-xxs;
    @include respond(desktop) {
        margin-top: $spacing-xs;
        text-align: center;
    }
}

.section-images {
    margin-top: $spacing-l;
    @include respond(desktop) {
        margin-top: $spacing-xl;
    }
}